@model EditViewModel

@{
    ViewBag.Title = "Edit Employee";
    var photoPath = "~/images/" + (Model.ExistingPhoto ?? "image.jpg");

}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post">
    <input hidden asp-for="Id" />
    <input hidden asp-for="ExistingPhoto" />


    <div class="form-group row">

     <label asp-for="NameofProduct" class="col-sm-2 col-form-label"></label>

     <div class="col-sm-10">
    <input asp-for="NameofProduct" class="form-control" placeholder="Product Name" />
    <span asp-validation-for="NameofProduct" class="text-danger"></span>

     </div>
    </div>

     <div class="form-group row">

     <label asp-for="Description" class="col-sm-2 col-form-label"></label>

     <div class="col-sm-10">
    <input asp-for="Description" class="form-control" placeholder="Description " />
    <span asp-validation-for="Description" class="text-danger"></span>

     </div>
    </div>


     <div class="form-group row">

     <label asp-for="Department" class="col-sm-2 col-form-label"></label>

     <div class="col-sm-10">
    <select asp-for="Department" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<Dept>()"></select>

     </div>
    </div>

   <div class="form-group row">

        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
     <div class="col-sm-10">
       <div class="custom-file">
          <input multiple asp-for="Photo" class="form-control custom-file-input" placeholder="Photo" />
           <label class="custom-file-label">Click here to change photo</label>
        
      </div>
     </div>
   </div>

   <div class="form-group row">
       
   <img src="@photoPath" class="imageThumbnail" asp-append-version="true" />
   </div>

   <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="home" asp-action="index" class="btn btn-primary">Cancel</a>

        </div>
    </div>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $(".custom-file-input").on("change", function() {
                        var fileLabel = $(this).next(".custom-file-label");
                    var files = $(this)[0].files;
                    if(files.length > 1)
                    {
                        fileLabel.html(files.length + "files selected");
                    }
                    else if(files.length == 1)
                    {
                        fileLabel.html(files[0].name); 
                    }
                });
            });
        </script>
    }
   
</form>
